body{
	font-size:12px;
	background-image: url(../images/bg.gif);
	background-repeat: repeat;
}
ul,li,h2{margin:0;padding:0;}
a
{
	border:0;
	}
ul{list-style:none;
    height: 11px;
    width: 796px;
}
#top{
	margin: 0 auto;
width:996px;
		height:26px;
	background-image: url('../images/h2bg.gif');
		background-repeat: repeat-x;
}
#top h2{
	width:185px;
	height:24px;
	float:left;
	font-size:12px;
	text-align:center;
	line-height:20px;
	color:#0066FF;
	font-weight: bold;
	padding-top: 2px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99BBE8;
	border-left-color: #99BBE8;
}
#top .jg {
	width: 5px;
	float: left;
	background-color: #DCE6F5;
	height: 26px;
}
#topTags{
	border-left: 1px solid #99BBE8;
    border-right: 1px solid #99BBE8;
    margin: 0 auto;
width:792px;
	height:24px;
	float:left;
	padding-top: 2px;
	padding-left: 10px;
}
#topTags ul li{
	float:left;
	width:100px;
	height:21px;
	margin-right:4px;
	display:block;
	text-align:center;
	cursor:pointer;
	padding-top: 3px;
	color: #15428B;
	font-size: 12px;
}
#main{
	margin: 0 auto;
		width:996px;
		height:500px;
		background-color:#F5F7E6;
	}
#main .jg {
	width: 5px;
	float: left;
	background-color: #DFE8F6;
	height: 500px;
}
#leftMenu{
	width:185px;
	height:500px;
	background-color:#DAE7F6;
	float:left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99BBE8;
	border-left-color: #99BBE8;
}
#leftMenu ul{margin:10px;}
#leftMenu ul li{
	width:130px;
	height:22px;
	display:block;
	cursor:pointer;
	text-align:center;
	margin-bottom:5px;
	background-color: #D9E8FB;
	background-image: url(../images/tabbg01.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-top: 2px;
	line-height: 20px;
}
#leftMenu ul li a{
	color:#000000;
	text-decoration:none;
	background-image: url(../images/tb-btn-sprite_03.gif);
	background-repeat: repeat-x;
}
#content{
	border-left: 1px solid #99BBE8;
	border-right: 1px solid #99BBE8;
width:802px;
		height:500px;
		float:left;
		background-color: #DAE7F6;
}
.content{
	width:790px;
	height:490px;
	display:none;
	padding:5px;
	overflow-y:auto;
	line-height:30px;
	background-color: #FFFFFF;
}
#footer{
	width:996px;
	height:26px;
	background-color:#FFFFFF;
	line-height:20px;
	text-align:center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #99BBE8;
	border-left-color: #99BBE8;
	background-image: url(../images/h2bg.gif);
	background-repeat: repeat-x;
}
.content1 {width:740px;height:490px;display:block;padding:5px;overflow-y:auto;line-height:30px;}
